body {
    margin: 0;
    font-size: 15px;
    line-height: 1.6;
    background: linear-gradient(to bottom, #66ff66 0%, #3399ff 100%);
}

*, *:before, *:after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}
h2{
    text-align: center;
}
p{
    margin-left: 25px;
    margin-right: 25px;
}
hr{
    background: url("images/hr.png") no-repeat scroll 50% 0 transparent;
    height: 19px;
    margin: 0 0 10px;
    border: medium none;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    width: 100%;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    position: fixed;
    top: 0;
    padding-top: 15px;
    width: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, .4);
}

.header__logo{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

.nav{
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s linear;
}

.nav__link:hover{
    color: lightslategray;
}

.menu{
    margin: 0 auto 0;
    background: rgba(255, 255, 255, .4);
    width: 90%;
    height: 70%;
}
.menu>ol>li{
    margin-left: 25px;
}
.menuimage{
    text-align: center;
}
.nav>ul>li {
    display: inline-block;
    position: relative;
}

.nav>ul>li>a {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s linear;
}

.nav>ul>li>a:hover {
    color: lightslategray;
    text-decoration: none;
}

.nav>ul>li>a:hover::before:hover {
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
    text-align: left;
    width: 100%;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    font-weight: bold;
    color: purple;
    width: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
}
a{
    cursor: pointer;
}
.bottom{
    bottom: 0;
    width: 100%;
    height: 20%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 1%;
    background: linear-gradient(to bottom left, #cc99ff 0%, #ccffcc 100%);
}
.bottom>table{
    vertical-align: center;
    horiz-align: center;
    margin: 0 auto 0;
    border-spacing: 150px 0;
}